<h2>Productos</h2>
<h3>Bienvenido Usuario: {{usuario.nombre}} - Rol: {{usuario.rol}}</h3>
<a href="/">Home Page</a>
<br><br>
<a href="/carts/{{cart._id}}">Ver carrito</a>
<hr>
<h3>Listado de Productos</h3>
<h4>Categoría</h4>
<ul>
    <li><a href="/products">Todos</a></li>
    {{#each categories}}
        <li><a href="/products?category={{this}}">{{this}}</a></li>
    {{/each}}
</ul>
<input type="text" value="{{cart._id}}" id="cart">
<br><br>
<div>
    <select id="orderBy">
        <option selected disabled>Ordenar por</option>
        <option value="asc">Menor precio</option>
        <option value="desc">Mayor precio</option>
    </select>
</div>
<br><br>

<ul id="productos">    
    {{#each payload}}
        <li>
            <strong>{{title}}</strong> - precio: ${{price}} <button onclick="addProduct('{{_id}}')">Agregar al carrito</button>
        </li>
        <br>
    {{/each}}

</ul>
<br><br>

<a href="/products?page=1">Pag. 1</a>
{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}

<a href="/products?page={{totalPages}}">Ult. pag</a>

<br><br><br>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/setCart.js"></script>
<script src="/js/sortProducts.js"></script>


